<!DOCTYPE html>
<html lang="br"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>EOL System</title>
</head>
<body>
    <h1>BEM VINDO AO EOL</h1>

    <div>
        <a th:href="@{/service-order}">Criar nova OS</a>
        <br>
        <a th:href="@{/login}">Login</a>
        <br>
        <a th:href="@{/sign_up}">Cadastrar</a>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/sign_up_installer}">Cadastrar instalador</a>
    </div>
</body>
</html>