<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign UP Installer | EOL</title>
</head>

<body>
<div class="container flex-column justify-content-center d-flex align-items-center" style="height:100vh;" ;>
            <h1 class="text-center">Sign Up Installer - EOL System</h1>
            <form class="mt-4" method="post" style="max-width:420px;">
                <div class="form-row justify-content-center">
                    <div class="col-md-12">
                        <input type="text"class="form-control" name="name" placeholder="Name" />
                    </div>
                </div>
                <div class="form-row justify-content-center ">
                    <div class="col-md-6 mt-2  ">
                        <input type="text" class="form-control" name="cpf" placeholder="CPF" />
                    </div>
            <div class="col-md-6 mt-2  ">
                <input type="text" class="form-control" name="phone" placeholder="Phone" />
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-6 mt-2">
                <input type="email" class="form-control" name="email" placeholder="Email" />
            </div>

            <div class="col-md-6 mt-2 ">
                <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <input class="btn-dark" type="submit" value="SIGN UP" />
        </div>
    </form>
    <a class="mt-2" th:href="@{index}">Sign Up</a>
</div>
</body>

</html>




