<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign UP</title>
</head>
<body>
    <h1>Sign Up EOL</h1>
    <form method="post">
        <input type="text" name="name"  placeholder="name"/>
        <br/>
        <input type="text" name="phone"  placeholder="Phone"/>
        <br/>
        <input type="email" name="email"  placeholder="Email"/>
        <br/>
        <input type="password" name="password" placeholder="Password"/>
        <br/>
        <input type="text" name="cpf"  placeholder="CPF"/>
        <br/>
        <input type="submit" value="SIGN UP"/>
    </form>
    <a th:href="@{/sign_up_installer}">Sign Up</a>
</body>
</html>